#
# This is a Parity Terminal Client configuration file for Genesis. For more
# information on Parity, see:
#
#   https://github.com/paritytrading/parity
#

order-entry {
  address  = {{ guest_address }}
  port     = {{ poe_port }}
  username = test
  password = test
}
