#
# This is a Parity Terminal Client configuration file for Genesis. For more
# information on Parity, see:
#
#   https://github.com/paritytrading/parity
#

order-entry {
  address  = {{ guest_address }}
  port     = {{ poe_port }}
  username = test
  password = test
}

instruments {
  price-integer-digits = {{ price_integer_digits }}
  size-integer-digits  = {{ size_integer_digits }}

{% for product in products %}
  {{ product['id'] }} {
    price-fraction-digits = {{ product['price_fraction_digits'] }}
    size-fraction-digits  = {{ product['size_fraction_digits'] }}
  }
{% endfor %}
}
