#
# This is a Parity Stock Ticker configuration file for Genesis. For more
# information on Parity, see:
#
#   https://github.com/paritytrading/parity
#

market-data {
  multicast-interface = {{ host_address }}
  multicast-group     = {{ pmd_multicast_group }}
  multicast-port      = {{ pmd_multicast_port }}
  request-address     = {{ guest_address }}
  request-port        = {{ pmd_request_port }}
}

instruments {
  price-integer-digits = {{ price_integer_digits }}
  size-integer-digits  = {{ size_integer_digits }}

{% for product in products %}
  {{ product['id'] }} {
    price-fraction-digits = {{ product['price_fraction_digits'] }}
    size-fraction-digits  = {{ product['size_fraction_digits'] }}
  }
{% endfor %}
}
